@font-face {
    font-family: "Gilroy";
    src: 
        local("Gilroy Light"), local("Gilroy-Light"), 
        url("../fonts/gilroylight.woff2") format("woff2"), 
        url("../fonts/gilroylight.woff") format("woff");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Gilroy";
    src: 
        local("Gilroy ExtraBold"), local("Gilroy-ExtraBold"), 
        url("../fonts/gilroyextrabold.woff2") format("woff2"), 
        url("../fonts/gilroyextrabold.woff") format("woff");
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: "OpenSans";
    src: 
        local("OpenSans"),  
        url("../fonts/opensans.woff2") format("woff2"), 
        url("../fonts/opensans.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

  @font-face {  
    font-family: "OpenSans";
    src: 
        local("OpenSans Light"), local("OpenSans-Light"),
        url("../fonts/opensanslight.woff") format("woff"),
        url("../fonts/opensanslight.woff") format("woff");
    font-weight: 300;
    font-style: normal;
}

body { 
    margin: 0;
    padding: 0;
    
    font-family: "OpenSans", "Arial",  sans-serif;
    font-size: 15px;
    font-weight: 300;
    line-height: 30px;
    letter-spacing: 0.15px;
    color: rgb(70, 70, 70);
    
    background-color: rgb(255, 255, 255);
    background-position:top center;
    background-repeat:no-repeat;
}

a {
    text-decoration: none;
}

a:focus {
    outline: 1px dotted rgb(0, 0, 0);
} 

img {
  max-width: 100%;
  height: auto;
}

.button, 
.button:hover {
    position: relative;
    
    display: inline-block;
    vertical-align: top;
    
    padding: 10px 43px;
    
    font-family: "Gilroy", "Arial", sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 17px;
    letter-spacing: 3.6px;
    text-transform: uppercase;
    text-align: center;
    color: rgb(0, 0, 0);
    
    opacity: 0.99;
}

.button:active {
    color: rgba(0, 0, 0, 0.3);
}

.button::before {
    content: "";
    
    position: absolute;
    top: 40%;
    left: 0;

    width: 100%;
    height: 20%;
    
    background-color: rgb(240, 197, 46);
    transition: all 0.2s ease-in-out;
    
    z-index: -1;
}

.button:hover::before,
.button:focus::before {
    top: 0;
    height: 100%;
 }

.button:active,
.button:focus,
.button[type="submit"]:focus {
    outline: none;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
    width: 1160px;
    margin: 0 auto;
    padding: 0 20px;
}

/* HEADER */

.main-header {
    margin: 0;
    margin-top: 40px;
    padding: 0;
}

.main-header-wrapper {
    min-height: 185px;
    
    background-color: rgb(247, 226, 150);
}

.main-header-logo,
.header-logo {
    position: relative;
    top: -20px;
    left: 59px;
    
    display: block;
    width: 163px;
    height: 36px;
}

.header-logo:hover,
.header-logo:focus {
    opacity: 0.6;
}

.header-logo:active {
    opacity: 0.3;
}

.user-navigation {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
          
    width: 1040px;
    margin: 0 auto;
    margin-bottom: 31px;
    padding: 0;
    padding-top: 2px;
        
    line-height: 36px;
}

.user-navigation a {
    color: rgb(0, 0, 0);
}

.user-navigation a:hover {
    color: rgba(0, 0, 0, 0.6);
}

.user-navigation a:active {
    color: rgba(0, 0, 0, 0.3);
}

.user-navigation form {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    width: 440px;
    margin: 0;
    margin-right: 95px;
    padding: 0;
}

/* SEARCH FORM */

.search {  
    height: 41px;
    
    background-image: url("../img/search.svg");
    background-repeat: no-repeat;
    background-position: 3px 12px;
}

.search input {
    width: 355px;
    margin: 0;
    margin-left: -1px;
    margin-bottom: 4px;
    padding-left: 39px;
    
    font-family: "OpenSans", "Arial",  sans-serif;
    font-size: 15px;
    font-weight: 300;
    line-height: 36px;
    letter-spacing: 0.15px;
    color: rgb(0, 0, 0);
    
    background-color: transparent;
    border: none;
}

.search-btn {
    width: 85px;
        
    color: transparent;
    
    background-color: transparent;
    border: none;
}

.search input[type="search"]:focus,
.search-btn:active,
.search-btn:focus {
     outline: none;
}

.search input[type="search"]:focus + .search-btn  {
    font: inherit;
    color: rgb(0, 0, 0);
    
    border: 2px solid rgb(0, 0, 0);
    outline: none;
}

.search input[type="search"]:focus + .search-btn:hover {
    color: rgb(255, 255, 255);
    
    background-color: rgb(0, 0, 0);
}

.search input[type="search"]:focus + .search-btn:active, .search-btn:focus {
    font: inherit;
    color: rgba(255, 255, 255, 0.3);
    
    background-color: rgb(0, 0, 0);
} 

.search input:focus {
    box-shadow: inset 0 -2px 0 0 rgb(0, 0, 0);
}

.search input::-webkit-input-placeholder {
    color: rgba(0, 0, 0, 0.3);
}

.search input:-ms-input-placeholder {
    color: rgba(0, 0, 0, 0.3);
}

.search input::-moz-placeholder {
    color: rgba(0, 0, 0, 0.3);
}

.search input:-moz-placeholder {
    color: rgba(0, 0, 0, 0.3);
}

.search input:hover::-webkit-input-placeholder {
    color: rgba(0, 0, 0, 0.6);
}

.search input:hover:-ms-input-placeholder {
    color: rgba(0, 0, 0, 0.6);
}

.search input:hover::-moz-placeholder {
     color: rgba(0, 0, 0, 0.6);
}

.search input:hover:-moz-placeholder {
     color: rgba(0, 0, 0, 0.6);
}

.search input::-webkit-input-placeholder {
    color: rgba(0, 0, 0, 0.3);
}

.search input:-ms-input-placeholder {
    color: rgba(0, 0, 0, 0.3);
}

.search input::-moz-placeholder {
     color: rgba(0, 0, 0, 0.3);
}

.search input:-moz-placeholder {
     color: rgba(0, 0, 0, 0.3);
}

.search input:focus::-webkit-input-placeholder {
    color: rgb(0, 0, 0);
}

.search input:focus:-ms-input-placeholder {
    color: rgb(0, 0, 0);
}

.search input:focus::-moz-placeholder {
     color: rgb(0, 0, 0);
}

.search input:focus:-moz-placeholder {
     color: rgb(0, 0, 0);
}

/* LOGIN COMPARE CART */

.login-navigation {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    
    max-width: 260px;
    margin: 0;
    padding: 0;
    
    list-style: none;
}

.login-navigation li {
    margin-top: -1px;
}

.login-navigation .login {
    position: relative;
    
    padding-left: 31px;
}

.login-navigation .login::before {
    content: "";
    
    position:absolute;
    left: 5px;
    top: 4px;
    
    width: 13px;
    height: 12px;
        
    background-image: url("../img/user.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
 }

.login-navigation .login:hover::before,
.compare-cart .compare:hover::before, 
.compare-cart .cart:hover::before {
    opacity: 0.6;
}

.login-navigation .login:active::before,
.compare-cart .compare:active::before,
.compare-cart .cart:active::before {
    opacity: 0.3;
}

.login-navigation .logout {
    padding-left: 20px;
    
    color: rgba(0, 0, 0, 0.3);
}

.user-navigation .compare-cart {
    position: relative;
    
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    flex-wrap: wrap;
    
    width: 260px;
    margin: 0;
    margin-left: auto;
    padding-left: 0;
    
    list-style: none;
}

.compare-cart a {
    position: relative;
    
    padding-left: 22px;
}

.compare-cart .cart {
    margin-right: -1px;
}

.compare-cart .compare {
    margin-right: 1px;
}

.compare-cart li {
    margin-top: -1px;
    margin-right: 1px;
}

.compare-cart li:not(:last-child) {
    margin-right: 40px;
}

.compare-cart .compare::before {
    content: "";
    
    position: absolute;
    left: 1px;
    top: 6px;
    
    width: 10px;
    height: 10px;
    
    background-image: url("../img/compare.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.compare-cart .cart::before {
    content: "";
    
    position: absolute;
    left: 0;
    top: 4px;
    
    width: 12px;
    height: 12px;
    
    background-image: url("../img/cart.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

/* MAIN NAVIGATION */

.main-navigation ul {
    list-style: none;
}

.main-navigation a {
    font-family: "Gilroy", "Arial", sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 18px;
    letter-spacing: 3.6px;
    text-transform: uppercase;
    color: rgb(0, 0, 0);
}

.main-navigation a:hover {
    color: rgba(0, 0, 0, 0.6);
}

.main-navigation a:active {
    color: rgba(0, 0, 0, 0.3);
}

.site-navigation {
    position: relative;

    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    
    max-width: 1060px;
    margin: 0 auto;
    padding: 0;
}

.site-navigation li {
    padding: 0 10px;
}

.site-navigation .catalog-nav-item {
    position: relative;
    padding-right: 40px;
    margin-right: 245px;
}

.site-navigation .catalog-nav-item::after {
    content: "";
    
    position: absolute;
    bottom: 5px;
    right: 13px;
    
    width: 16px;
    height: 16px;
    
    background-image: url("../img/plus.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    
    opacity: 0.3;
}

.site-navigation .catalog-nav:nth-of-type(2),
.site-navigation .catalog-nav:nth-of-type(3) {
    padding-left: 25px;
}

.site-navigation .catalog-nav:last-of-type {
    margin-left: auto;
    margin-right: -3px;
}

.second-navigation {
    display: none;
}

.catalog-nav:hover .second-navigation  {
    position: absolute;
    top: 23px; 
    left: -50px;
    
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    
    width: 1160px;
    min-height: 143px;
    margin: 0 auto;
    padding-top: 23px;
    
    background-color: rgb(247, 226, 150);
    z-index: 1;
} 

.second-navigation .sec-nav-wrapper {
    margin: 0;
    padding-left: 57px;
    
    list-style: none;
}

.second-navigation .sec-nav-wrapper:nth-of-type(2) {
    padding-left: 59px;
}

.second-navigation .sec-nav-wrapper:nth-of-type(3) {
    padding-left: 75px;
}

.second-navigation a {
    display: block;
    
    font-family: "OpenSans", "Arial",  sans-serif;
    font-size: 15px;
    font-weight: 300;
    line-height: 36px;
    letter-spacing: 0.15px;
    text-transform: none;
}

.second-navigation a:hover {
     color: rgba(0, 0, 0, 0.6);
}

.second-navigation a:active {
    color: rgba(0, 0, 0, 0.3);
}

/* MAIN */

.main-page,
.inner-page {
    margin: 0 auto;
}

/* SLIDER RADIOBATTONS */

.slider-radiobuttons {
    position: absolute;
    bottom: 155px;
    right: 80px;
    
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    
    margin: 0;
    padding: 0;
    
    list-style: none; 
}

.slider-radiobuttons li {
    padding: 0 15px;
}

.slider-radiobuttons label {
    position: relative;
    font-size: 0;
    
    cursor: pointer;
}

.slider-radiobuttons label::before {
    content: "";
    
    position: absolute;
    top: 0;
    left: 0;
    
    width: 12px;
    height: 12px;
    
    background-image: url("../img/slider-button-empty.svg");
}

.slider-radiobuttons label:focus {
    outline: 1px dotted rgb(0, 0, 0);
}

.radio-monopod[type="radio"]:focus ~ .slider-radiobuttons label[for="radio-monopod"]::before,
.radio-fitness[type="radio"]:focus ~ .slider-radiobuttons label[for="radio-fitness"]::before,
.radio-quadcopter[type="radio"]:focus ~ .slider-radiobuttons label[for="radio-quadcopter"]::before {
    outline: 1px dotted rgb(0, 0, 0);
}

.radio-monopod[type="radio"]:checked ~ .slider-radiobuttons label[for="radio-monopod"]::before,
.radio-fitness[type="radio"]:checked ~ .slider-radiobuttons label[for="radio-fitness"]::before,
.radio-quadcopter[type="radio"]:checked ~ .slider-radiobuttons label[for="radio-quadcopter"]::before {
    background-image: url("../img/slider-button.svg");
}

.slider-list .slider-monopods,
.slider-list .slider-bangles,
.slider-list .slider-quadcopters {
    display: none;
}

.radio-monopod[type="radio"]:checked ~ .slider-list .slider-monopods,
.radio-fitness[type="radio"]:checked ~ .slider-list .slider-bangles,
.radio-quadcopter[type="radio"]:checked ~ .slider-list .slider-quadcopters {
    display: flex;
}

/* BIG SLIDER */

.slider {
    position: relative;
    
    min-height: 500px;
    margin-bottom: 95px;
}

.slider-list {
    margin: 0;
    padding: 0;
    
    list-style: none;
}

.slider b {
    font-family: "Gilroy", "Arial", sans-serif;
    font-size: 47px;
    font-weight: 800;
    line-height: 55px;
    letter-spacing: 0.47px;
    color: rgb(0, 0, 0);
}

.slider-table th {
    margin: 0;
    padding: 0;
    
    font-family: "Gilroy", "Arial", sans-serif;
    font-size: 36px;
    font-weight: 300;
    line-height: 43.2px;
    letter-spacing: 0.36px;
    color: rgb(0, 0, 0);
}

.slider-table td {
    margin: 0;
    padding: 0;
    
    font-family: "OpenSans", "Arial",  sans-serif; 
    font-size: 13px;
    font-weight: 300;
    line-height: 20px;
    letter-spacing: 0.13px;
}

.slider-item-wrapper .button {
    max-width: 300px;
    margin-left: 1px;
}

.slider-monopods {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    padding-left: 30px;
    
    background: url("../img/rect-white.jpg") no-repeat 600px 40px, url("../img/01-background.png") no-repeat 934px 12px, linear-gradient(rgb(247, 226, 150)115px, rgb(255, 255, 255)115px); 
}

.slider-monopods img {
    width: 384px;
    height: 486px;
    margin-right: 123px;
    padding-top: 4px;
    padding-left: 61px;
}

.slider-monopods .slider-item-wrapper {
    padding-top: 82px;
}

.slider-monopods p {
    width: 483px;
    margin: 0;
    margin-bottom: 45px;
    padding-top: 21.5px;
    padding-left: 0px;
}

.slider-table-monopods th {
   padding-top: 50.5px;
   padding-bottom: 8px;
   padding-right: 75px;
}

.slider-table-monopods td:last-of-type {
    padding-left: 1px;
}

.slider-bangles {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    padding-left: 116px;
    
    background: url("../img/rect-white.jpg") no-repeat 600px 40px, url("../img/02-background.png") no-repeat 908px 12px, linear-gradient(rgb(247, 226, 150)115px, rgb(255, 255, 255)115px); 
}

.slider-bangles img {
    width: 345px;
    height: 485px;
    margin-right: 137px;
    padding-top: 15px;
}

.slider-bangles .slider-item-wrapper {
    padding-top: 83px;
}

.slider-bangles p {
    width: 443px;
    margin: 0;
    margin-bottom: 45px;
    padding-top: 22px;
    padding-left: 1px;
}

.slider-table-bangles th {
    padding-top: 51px;
}

.slider-table-bangles td {
   padding-top: 9px;
}

.slider-quadcopters {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    padding-left: 31px;
    
    background: url("../img/rect-white.jpg") no-repeat 600px 40px, url("../img/03-background.png") no-repeat 906px 12px, linear-gradient(rgb(247, 226, 150)115px, rgb(255, 255, 255)115px); 
}

.slider-quadcopters img {
    width: 526px;
    height: 334px;
    margin-right: 40px;
    padding-top: 68px;
}

.slider-quadcopters .slider-item-wrapper {
    padding-top: 83px;
}

.slider-quadcopters p {
    width: 455px;
    margin: 0;
    margin-bottom: 46px;
    padding-top: 20px;
    padding-left: 1px;
}

.slider-table-quadcopters th {
    padding: 0;
    margin: 0;
    padding-top: 53px;
    padding-right: 57px;
    padding-bottom: 7px;
}

/* GADGETS */

.gadgets {
    margin-bottom: 87px;
}

.gadgets ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.gadgets-list {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
}

.gadgets-item div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 160px;
    height: 160px;
    margin-bottom: 35px;
    
    background-color: rgba(240, 197, 46, 0.5);
}

.gadgets-item:nth-of-type(3) img,
.gadgets-item:nth-of-type(4) img,
.gadgets-item:nth-of-type(5) img {
    margin-top: 4px;
    margin-left: 6px;
}

.gadgets-item:nth-of-type(6) img {
    margin-top: 6px;
}

.gadgets-item:nth-of-type(2) img {
    margin-top: 39px;
    margin-left: 2px;
}

.gadgets-item div:hover {
    background-color :rgb(240, 197, 46);
}

.gadgets-item div:active,
.gadgets a:active div {
    opacity:0.3;
}

.gadgets h3 {
    max-width: 160px;
    margin: 0;
    padding: 0;
    
    font-family: "Gilroy", "Arial", sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 20px;
    letter-spacing: 0.18px;
}

.gadgets-link, 
.gadgets-link:hover {
    font-family: "Gilroy", "Arial", sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 21.6px;
    letter-spacing: 0.18px;
    color: rgb(0, 0, 0);
    
    outline: none;
} 

.gadgets-link:hover div, 
.gadgets-link:focus div {
    background-color :rgb(240, 197, 46);
}

.gadgets-link:active {
    color: rgba(0, 0, 0, 0.3);
}

/* SERVICE */

.service {
    width: 100%;
    min-height: 387px;
    margin-bottom: 95px;
         
    background-image: linear-gradient(rgb(255, 255, 255)100px, rgb(229, 229, 229)100px);
}

.service-wrapper {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: nowrap;
}

.service .service-list {
    width: 284px;
    min-height: 317px;
    margin: 0;
    margin-right: 116px;
    padding: 0;
    
    list-style: none;
    background-image: linear-gradient(to right, transparent 276px, rgb(0, 0, 0)276px);
}

.service-list li {
    margin-bottom: 25px;
}

.service-list li:first-of-type {
    margin-top: 81px;
    margin-bottom: 28px;
}

.service-list li:nth-of-type(2) {
    margin-bottom: 28px;
}

.radio-delivery:focus ~ .service-list label[for="radio-delivery"]::before,
.radio-warranty:focus~ .service-list label[for="radio-warranty"]::before,
.radio-credit:focus ~ .service-list label[for="radio-credit"]::before {
     outline: 1px dotted rgb(0, 0, 0);
}

.radio-delivery:checked ~ .service-list label[for="radio-delivery"]::before,
.radio-warranty:checked ~ .service-list label[for="radio-warranty"]::before,
.radio-credit:checked ~ .service-list label[for="radio-credit"]::before {
    content: "";
    top: 0;
    left: 0;
    
    width: 284px;
    height: 100%;
        
    background-color: rgb(0, 0, 0);
}

.radio-delivery:checked ~ .service-list label[for="radio-delivery"],
.radio-warranty:checked ~ .service-list label[for="radio-warranty"],
.radio-credit:checked ~ .service-list label[for="radio-credit"] {
    color: rgb(247, 225, 132);
}

.radio-delivery:checked ~ .service-list label[for="radio-delivery"] {
    padding-left: 20px;
}

.radio-warranty:checked ~ .service-list label[for="radio-warranty"] {
    padding-left: 28px;
}

.radio-credit:checked ~ .service-list label[for="radio-credit"] {
    padding-left: 32px;
}

.radio-delivery:checked ~ .service-description .delivery,
.radio-warranty:checked ~ .service-description .warranty,
.radio-credit:checked ~ .service-description .credit {
    display: block;
}

.service-description .delivery,
.service-description .warranty,
.service-description .credit {
    display: none;
}

.service-list label,
.service-list label:hover {
    min-width: 110px;
    padding: 10px 25px;
    
    cursor: pointer;
}

.service-list label:active {
    color: rgb(0, 0, 0);
}

.service-list label[for="radio-delivery"] {
    padding-right: 12px;
}

.service-list label[for="radio-warranty"] {
    padding-right: 22px;
}

.service-description {
    width: 760px;
}

.service-description div {
    padding-bottom: 30px;
}

.service h3 {
    margin: 0;
    margin-bottom: 30px;
    padding-top: 73px;
    
    font-family: "Gilroy", "Arial", sans-serif;
    font-size: 47px;
    font-weight: 800;
    line-height: 47px;
    letter-spacing: 0.47px;
    color: rgb(0, 0, 0);
}

.service p {
    width: 435px;
    margin: 0;
}

.service-description p {
    padding-top: 3px;
    padding-left: 1px;
}

.service-description .delivery {
    background-image: url("../img/delivery.svg");
    background-repeat: no-repeat;
    background-position: 558px 85px;
}

.service-description .warranty {
    background-image: url("../img/warranty.svg");
    background-repeat: no-repeat;
    background-position: 542px 61px;
}

.service-description .credit {
    background-image: url("../img/credit.svg");
    background-repeat: no-repeat;
    background-position: 535px 61px;
}

/* LOGOTYPES */

.logotypes {
    margin-bottom: 84px;
}

.logotypes-list {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    
    margin: 0;
    padding: 0;
}

.logotypes img {
    filter: grayscale(100%);
    opacity: 0.2;
}

.logotypes img:hover {
    filter: none;
    opacity: 1;
}

.logotypes-list li:last-child {
    margin-right: 2px;
}

/* ABOUT US CONTACTS */

.about-us-wrapper {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    
    margin-bottom: 83px;
}

.about-us {
    position: relative;
}

.about-us h2 {
    margin: 0;
    padding-top: 52px;
    
    font-family: "Gilroy", "Arial", sans-serif;
    font-size: 47px;
    font-weight: 800;
    line-height: 47px;
    letter-spacing: 0.47px;
    color: rgb(0, 0, 0);
}

.about-us:first-child h2::before {
    content: "";
    
    position: absolute;
    top: 0;
    left: 0;
    
    width: 80px;
    height: 7px;
    
    background-color: rgb(0, 0, 0);
}

.about-us:last-child h2::before {
    content: "";
    
    position: absolute;
    top: 0;
    left: 2px;
    
    width: 80px;
    height: 7px;
    
    background-color: rgb(0, 0, 0);
}

.about-us p {
    margin: 0;
    padding: 0;
        
    letter-spacing: 0;
}

.about-us:first-child {
    width: 500px;
    margin-right: 99px;
}

.about-us:last-child {
    width: 560px;
}

.about-us:first-child p {
    width: 478px;
}

.about-us:first-child p:first-of-type,
.about-us:last-child p {
    padding-top: 44px;
}

.about-us:first-child p:last-of-type {
    padding-top: 30px;
    margin-bottom: 65px;
}

.about-us ul {
    margin: 0;
    margin-left: 15px;
    margin-bottom: 56px;
    padding: 0;
        
    font-family: "Gilroy", "Arial", sans-serif;
    font-size: 16px;
    font-weight: 800;
    line-height: 41px;
    letter-spacing: 0;
    color: rgb(0, 0, 0);
    
    list-style: none;
}

.transport-company {
    position: relative;
    padding-left: 20px;
}

.transport-company::before {
    content: "";
    
    position: absolute;
    top: 16px;
    left: -15px;
    
    width: 5px;
    height: 5px;
    
    border: 2px solid rgb(229, 229, 229);
    border-radius: 50%;
}

.about-us .map {
    display: block;
    margin-top: 39.5px;
    margin-bottom: 62px;
    margin-left: 1px;
}

.about-us:first-child .button {
    padding: 9px 21px;
}

.about-us:last-child .button {
    padding-right: 36px;
}
    
/* MODAL */ 

@keyframes shake {
  0%,
  100% {
-webkit-transform: translateX(0); 
    -ms-transform: translateX(0); 
        transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
-webkit-transform: translateX(-10px); 
    -ms-transform: translateX(-10px);
        transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
-webkit-transform: translateX(10px); 
    -ms-transform: translateX(10px);
        transform: translateX(10px);
  }
}

@keyframes bounce {
  0% {
-webkit-transform: translateY(-2000px); 
    -ms-transform: translateY(-2000px);
        transform: translateY(-2000px);
  }

  70% {
-webkit-transform: translateY(30px); 
    -ms-transform: translateY(30px);
        transform: translateY(30px);
  }

  90% {
-webkit-transform: translateY(-10px); 
    -ms-transform: translateY(-10px);
        transform: translateY(-10px);
  }

  100% {
-webkit-transform: translateY(0); 
    -ms-transform: translateY(0);
        transform: translateY(0);
  }
}

.modal {
    position: fixed;
    display: none;
            
    background-color: rgb(255, 255, 255);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.7);
    z-index: 10;
}

.modal-show {
   display: inline-block;
   vertical-align: top;
    
  -webkit-animation: bounce 0.6s;
   animation: bounce 0.6s;
}

.modal-error {
 -webkit-animation: shake 0.6s;
  animation: shake 0.6s;
}

.modal-close {
    position: absolute;
    top: 23px;
    right: 22px;
    
    width: 55px;
    height: 55px;
    
    font-size: 0;
    
    background-image: url("../img/modal-close.svg");
    background-repeat: no-repeat;
    border: none;
    border-radius: 50%;
    opacity: 0.5;
    
    z-index: 3;
}

.modal-close:hover {
    opacity: 1;
    cursor: pointer;
}

.modal-close:active {
    opacity: 0.3;
    cursor: pointer;
    
    outline: none;
}

.modal-close:focus {
    outline: 1px dotted rgb(0, 0, 0);
}

.modal-map {
    top: 120px;
    left: 50%;
    
    width: 960px;
    height: 559px; 
    margin-left: -480px;
}

.modal-map p {
   position: absolute;
   top: 0;
   left: 0;
  
   margin: 0;
    
   z-index: 1;
}

.modal-map iframe {
  position: relative;
  z-index: 2;

  border: none;
}

.modal-message {
    top: 120px;
    left: 50%;
    
    width: 760px;
    margin-left: -460px;
    padding: 92px 100px 77px;
}

.modal-message .button {
    padding-left: 33px;
}

.modal-message label {
    font-family: "Gilroy", "Arial", sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 21.6px;
    letter-spacing: 0;
    
    color: rgb(0, 0, 0);   
}

.modal-message input {
    width: 360px;
    height: 50px;
    padding: 0 20px;
    box-sizing: border-box;
}

.modal-message input:focus,
.modal-message textarea:focus {
    outline: none;
}

.modal-message textarea {
    width: 100%;
    padding: 15px 20px;
    box-sizing: border-box;
}

.message-wrapper {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    
    margin-bottom: 35px;
}

.message-wrapper div:last-child  {
    padding-left: 40px;
}

.textarea-wrapper {
    min-height: 220px;
    margin-bottom: 11px;
}

.modal-message input, 
.modal-message textarea {
    background-color: rgba(229, 229, 229, 0.5);
    border: none;
    resize: none;
}

.modal-message input:hover, 
.modal-message textarea:hover {
    background-color: rgba(229, 229, 229, 0.8);
    border: none;
}

.modal-message input:focus, 
.modal-message textarea:focus {
    background-color: transparent;
    border: 3px solid rgba(240, 197, 46, 0.5);
}

input:invalid {
    background-color: rgba(237, 181, 181, 0.5);
}

.modal-message .button {
    background-color: transparent;
    border: none;
        
    cursor: pointer;
}

/* INNER PAGE */
/* BREADCRUMBS */

.title-wrapper {
    margin-bottom: 40px;
}

.title-wrapper h1 {
    margin: 0;
    margin-bottom: 13px;
    padding-top: 33px;
    padding-left: 58px;
    
    font-family: "Gilroy", "Arial", sans-serif;
    font-size: 47px;
    font-weight: 800;
    line-height: 56.4px;
    letter-spacing: 0.47px;
    color: rgb(0, 0, 0);
}

.breadcrumbs {
    position: relative;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    margin: 0;
    padding: 0;
    padding-left: 58px;
    list-style: none;
}

.breadcrumbs::before {
    content: "";
    
    position: absolute;
    top: 16px;
    left: 127px;
    
    width: 4px;
    height: 7px;
    
    background-image: url("../img/nav-arrow.svg");
}

.breadcrumbs::after {
    content: "";
    
    position: absolute;
    top: 16px;
    left: 278px;
    
    width: 4px;
    height: 7px;
    
    background-image: url("../img/nav-arrow.svg");
}

.breadcrumbs a {
    margin: 0;
    margin-right: 32px;
    line-height: 36px;
    color: rgba(0, 0, 0, 0.3);
}

.breadcrumbs-item:hover {
    color: rgba(0, 0, 0, 0.6);
}

.breadcrumbs-item:active {
    color: rgba(0, 0, 0, 0.1);
}

/* FILTERS HEAD */

.inner-page-header {
    background-image: linear-gradient(to right, rgb(220, 220, 220)33.4%, rgb(235, 235, 235)33.4%);
}

.inner-page-header .container {
     display: flex;
     justify-content: flex-start;
     flex-direction: row;
 }

.filter-title {
    display: flex;
    align-items: center;
    width: 268px;
    min-height: 70px;
    padding-left: 61px;
    
    background-color: rgb(220, 220, 220);
}

.filter-title p {
    margin: 0;
    padding: 0 ;
     
    font-family: "Gilroy", "Arial", sans-serif;
    font-size: 16px;
    font-weight: 800;
    line-height: 19.2px;
    letter-spacing: 3.2px;
    text-transform: uppercase;
    color: rgb(0, 0, 0);
}

.wrapper-sorting {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    width: 833px;
    min-height: 70px;
    background-color:rgb(235, 235, 235);
}

.wrapper-sorting p {
    margin: 0;
    padding-left: 77px;
    
    font-family: "Gilroy", "Arial", sans-serif;
    font-size: 16px;
    font-weight: 800;
    line-height: 19.2px;
    letter-spacing: 3.3px;
    text-transform: uppercase;
    color: rgb(0, 0, 0);
}

.sort-list {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    width: 610px;
    margin: 0;
    margin-bottom: 3px;
    padding: 0;
    padding-left: 36px; 
    
    list-style: none;
}

 .sort-list .sort-item {
    padding: 0 14px;
}

.sort-list .sort-item {
    font-family: "OpenSans", "Arial",  sans-serif;
    font-size: 14px;
    font-weight: normal;
    line-height: 18px;
    color: rgba(0, 0, 0, 0.3);
}

.sort-list .sort-item:hover {
    color: rgba(0, 0, 0, 0.6);
}

.sort-list .sort-item:active,
.sort-list .sort-active, 
.sort-list .sort-active:hover {
    color: rgb(0, 0, 0);
}

.sort-list-arrows {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    margin: 0;
    margin-right: -5px;
    margin-left: auto;
    padding: 0;
    
    list-style: none;
}

.sort-list-arrows a {
    padding: 0 10px;
}

.sort-list-arrows a:hover {
    opacity: 0.4;
}

.sort-list-arrows a:active {
    opacity: 1;
}

.sort-list-arrows .arrow-up {
    margin-right: 5px;
    
    background-image: url("../img/icon-up-dir.svg");
    background-repeat: no-repeat;
    background-position: 0 center;
    
    opacity: 0.2;
}

.sort-list-arrows .arrow-down {
    background-image: url("../img/icon-down-dir.svg");
    background-repeat: no-repeat;
    background-position: center;
    
    opacity: 0.2;
}

.sort-list-arrows .arrow-active,
.sort-list-arrows .arrow-active:hover {
    opacity: 1;
}

/* FILTERS BODY */

.inner-page-body {
    background-image: linear-gradient(to right, rgb(239, 239, 239)33.5%, rgb(255, 255, 255)33.5%);
 }

.inner-page-body .container {
     display: flex;
     justify-content: flex-start;
     flex-direction: row;
}

.filters {
    display: flex;
    width: 270px;
    padding-left: 59px;
    background-color: rgb(239, 239, 239);
} 

.filter {
  padding-top: 69px;  
}

.filter fieldset {
    margin: 0;
    padding: 0;
    border: none;
}

.filter legend {
    margin: 0;
    padding: 0;
    
    font-family: "Gilroy", "Arial", sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 21.6px;
    letter-spacing: 0.18px;
    color: rgb(0, 0, 0);
}

.filter ul {
    font-family: "OpenSans", "Arial",  sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 40px;
    letter-spacing: 0.14px;
    color: rgb(0, 0, 0);
    
    margin: 0;
    padding: 0;
    
    list-style: none;
}

.filter-wrapper {
    position: relative;
}

.filter-price {
    padding-top: 14px;
    min-height: 127px;
}

.filter-color {
    padding-top: 13px;
    margin-bottom: 32px;
}

.filter-bluetooth {
    padding-top: 13px;
    margin-bottom: 33px;
}

.filter-color legend,
.filter-bluetooth legend {
    margin-bottom: 18px;
}

.filter-price legend {
    margin-bottom: 36px;
}

.filter-price::before, 
.filter-color::before,
.filter-bluetooth::before {
    content: "";
    
    position: absolute;
    top: 0;
    left: 0;
    
    width: 201px;
    height: 2px;
    
    background-color: rgb(0, 0, 0);
}

/* RANGE, CHECKBOX & RADIOBUTTONS */ 

.range-controls {
    position: relative;
}

.range-controls .scale {
   height: 2px;
   margin-bottom: 5px;

   background-color: rgb(219, 219, 219);
}

.range-controls .bar {
   width: 55%;
   height: 2px;

   background: rgb(145, 201, 47);
}

.range-controls .toggle {
   position: absolute;
   top: -10px;
   left: 0;
    
   width: 4px;
   height: 4px;
   padding: 0;

   border: 8px solid rgb(255, 255, 255);
   background-color: rgb(171, 171, 171);
   box-shadow: 0 2px 1px rgb(207, 207, 207);
   border-radius: 50%;
   cursor: pointer;
}

.range-controls .toggle-min {
    left: -7px;
}

.range-controls .toggle-max {
    left: 107px;
}

.range-controls .toggle:focus {
    outline: 1px dotted rgb(0, 0, 0);
}

.price-controls span {
    font-family: "Gilroy", "Arial", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.8px;
    letter-spacing: 0.31px;
    color: rgba(0, 0, 0, 0.2);
}

.price-controls span:first-of-type {
    margin-right: 57px;
}

.filter-color ul {
    margin-top: 1px;
}

.color-checkbox label,
.radio-bluetooth label {
   position: relative;
    
   padding-left: 39px;
    
   cursor: pointer;
}

.color-checkbox label::before {
  content: "";
    
  position: absolute;
  top: -1px;
  left: -2px;

  width: 23px;
  height: 23px;

  background-image: url("../img/checkbox-off.svg");
}

.color-checkbox label[for="color-red"]::before, 
.color-checkbox label[for="color-pink"]::before {
    top: -2px;
    left: -1px;
}

.color-checkbox input[type="checkbox"] + label:hover::before {
    opacity: 0.6;
}

.color-checkbox input[type="checkbox"]:checked + label::before {
   width: 25px;
   background-image: url("../img/checkbox-on.svg");
}

.color-checkbox input[type="checkbox"]:focus + label::before {
    outline: 1px dotted rgb(0, 0, 0);
}

.color-checkbox input[type="checkbox"]:disabled + label::before {
   opacity: 0.25;
   color: rgba(0, 0, 0, 0.25);
}

.filter-bluetooth ul {
    margin-top: 1px;
}

.radio-bluetooth label::before {
    content: "";
    
    position: absolute;
    top: -3px;
    left: -1px;
    
    width: 25px;
    height: 25px;
    
    background-image: url("../img/radio-off.svg");
}

.radio-bluetooth input[type="radio"] + label:hover::before {
    opacity: 0.6;
}

.radio-bluetooth input[type="radio"]:checked + label::before {
   background-image: url("../img/radio-on.svg");
}

.radio-bluetooth input[type="radio"]:focus + label::before {
   outline: 1px dotted rgb(0, 0, 0);
}

.radio-bluetooth input[type="radio"]:disabled + label::before {
   opacity: 0.25;
   color: rgba (0, 0, 0, 0.25);
}

.filter-wrapper-btn {
    position: relative;
}

.filter-wrapper-btn .button {
    padding-left: 40px;
    padding-right: 39px;
    
    background-color: transparent;
    border: none;
    cursor: pointer;
}

/* CATALOG */

.catalog {
    width: 770px;
    padding-left: 73px;
    
    background-color: rgb(255, 255, 255);
}

.catalog-list {
    position: relative;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    padding-top: 69px;  
    
    list-style: none;
}

.catalog-list .catalog-item {
    width: 360px;
    margin-right: 40px;
    margin-bottom: 50px;
}

.catalog-list .catalog-item:nth-child(2n) {
     margin-right: 0;
}

.catalog-list .catalog-item:last-of-type {
    margin-bottom: 38px;
}

.catalog-item-title {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 360px;
}

.catalog-item-title h3 {
    margin: 0;
    padding: 0;
    padding-right: 5px;
       
    font-family: "Gilroy", "Arial", sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 21.6px;
    letter-spacing: 0.18px;
    color: rgb(0, 0, 0);
}

.catalog-item-title .price {
    display: flex;
    justify-content: flex-end;
    min-width: 80px;
    margin-top: 2px;
    padding-left: 5px;
    
    font-family: "Gilroy", "Arial", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
    letter-spacing: 0.16px;
    color: rgb(70, 70, 70);
}

.catalog-img-wrapper {
   position: relative;
   margin-bottom: 25px;
}

.catalog-img-wrapper .logo-new {
    position: absolute;
    top: 30px;
    right: 26px;
}

.catalog-hover {
    position: absolute;
    top: 0;
    left: 0;
    
    display: none;
}

.catalog-img-wrapper:hover .catalog-hover {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 360px;
    height: 380px;
   
    background-color: rgba(238, 238, 238, 0.7);
}

.catalog-hover .button {
    margin-top: 35px;
}

.add-compare {
    font-family: "OpenSans", "Arial",  sans-serif;
    font-size: 13px;
    font-weight: 300;
    line-height: 36px;
    color: rgba(0, 0, 0, 0.5);
}

.add-compare:hover {
    color: rgb(0, 0, 0);
}

.add-compare:active {
    color: rgba(0, 0, 0, 0.2);
}

/* PAGINATION */

.pagination-list {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 760px;
    margin: 0;
    margin-bottom: 77px;
    padding: 0;
        
    list-style: none;
    background-color: rgb(235, 235, 235);
}

.pagination-list a {
    font-family: "Gilroy", "Arial", sans-serif;
    font-size: 16px;
    font-weight: 800;
    letter-spacing: 3.2px;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.3);
}

.pagination-list li:first-of-type {
    margin-right: 5px;
}

.pagination-list li:nth-of-type(2) {
    margin-left: auto;
}

.pagination-list li:last-of-type {
    margin-left: auto;
}

.pagination-list .pagination-btn {
    display: block;
    padding: 20px 27px;
    
    color: rgb(0, 0, 0);
}

.pagination-list .pagination-btn:first-child {
    padding-left: 30px;
}

.pagination-list .pagination-btn:hover {
    background-color: rgb(217, 217, 217);
}

.pagination-list .pagination-btn:active {
    color: rgba(0, 0, 0, 0.3);
}

.pagination-list .pagination-item {
    padding: 0 13px;
}

.pagination-list .pagination-active {
    margin-right: -5px;
    padding-left: 16px;
}

.pagination-list li:nth-child(3) {
    padding-left: 6px;
}

.pagination-list li:nth-child(4) {
    margin-right: -5px;
}

.pagination-list .pagination-item {
    color: rgba(0, 0, 0, 0.3);
}

.pagination-list .pagination-item:hover {
    color: rgba(0, 0, 0,0.6);
}

.pagination-list .pagination-item:active {
    color: rgba(0, 0, 0, 1);
}

.pagination-list .pagination-active, 
.pagination-list .pagination-active:hover {
    color: rgb(0, 0, 0);
}

/* FOOTER */

.main-footer {
    min-height: 323px;
    padding-top: 48px;
    background-color: rgb(70, 70, 70);
}

.main-footer-wrapper {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: flex-start;
    margin: 0 auto;
}

.footer-wrapper:first-child {
    position: relative;
    width: 300px;
    min-height: 178px;
    margin-left: -2px;
    margin-right: 58px;
    padding-top: 18px;
}

.footer-wrapper:nth-child(2) {
    width: 440px;
    padding-top: 85px;
    margin-right: 30px;
}

.footer-wrapper:last-child {
    width: 330px;
    padding-top: 12px;
}

.main-footer-logo,
.footer-logo {
    display: block;
    width: 163px;
    height: 36px;
    margin-bottom: 28px;
}

.footer-logo:hover {
    opacity: 0.6;
}

.footer-logo:active {
    opacity: 0.3;
}

.address, 
.phone-number {
    margin: 0;
    padding: 0;
    color: rgb(255, 255, 255);
}

.address::after {
    content: "";
    
    position: absolute;
    bottom: 0;
    left: 2px;
    
    width: 80px;
    height: 7px;
    
    background-color: rgb(255, 198, 0);
}

.footer-main-navigation {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
            
    margin: 0;
    margin-top: 1px;
    margin-bottom: 60px;
    padding: 0;
    padding-left: 7px;
}

.footer-main-navigation li:first-child {
    padding-left: 3px;
    margin-right: 36px;
}

.footer-main-navigation li:nth-child(2) {
   margin-right: 33px; 
}

.footer-main-navigation a {
    font-family: "Gilroy", "Arial", sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 18px;
    letter-spacing: 3.6px;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
}

.footer-main-navigation a:hover {
    color: rgba(255, 255, 255, 0.6);
}

.footer-main-navigation a:active {
     color: rgba(255, 255, 255, 0.3);
}

.footer-social {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    width: 160px;
    margin: 0 auto;
    padding: 0;
    
    list-style: none;
}

.footer-social li:first-child {
    padding-left: 4px;
    margin-right: 9px;
}

.footer-social li:nth-child(2) {
    margin-right: 8px;
} 

.social-button {
    width: 32px;
    height: 32px;
  
    opacity: 0.3;
}

.social-button:focus {
   outline: 1px dotted rgb(255, 255, 255);
}

.social-button:hover {
   opacity: 0.6;
}

.social-button:active {
   opacity: 0.1;
}

.footer-user-navigation {
    position: relative;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    margin: 0;
    margin-bottom: 35px;
    padding: 0;
    
    list-style: none;
    line-height: 36px;
}

.footer-user-navigation li:first-child {
    padding-left: 34px;
}

.footer-user-navigation li:nth-child(2),
.footer-user-navigation li:last-child {
    padding-left: 64px;
}

.footer-user-navigation .login-footer::before {
    content: "";
    
    position: absolute;
    top: 12px;
    left: 9px;
    
    width: 13px;
    height: 12px;
    
    background-image: url("../img/user-yellow.svg");
}

.footer-user-navigation .compare-footer::before {
    content: "";
    
    position: absolute;
    top: 14px;
    left: 122px;
    
    width: 10px;
    height: 10px;
    
    background-image: url("../img/compare-yellow.svg");
}

.footer-user-navigation .cart-footer::before {
    content: "";
    
    position: absolute;
    top: 12px;
    left: 252px;
    
    width: 12px;
    height: 12px;
    
    background-image: url("../img/cart-yellow.svg");
}

.footer-user-navigation a:hover::before {
    opacity: 0.6;
}

.footer-user-navigation a:active::before {
    opacity: 0.3;
}

.footer-user-navigation a {
    color: rgba(255, 255, 255, 0.7);
}

.footer-user-navigation a:hover {
    color: rgb(255, 255, 255);
}

.footer-user-navigation a:active {
    color: rgba(255, 255, 255, 0.3);
}

.contacts {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    
    margin-right: -5px;
}

.contacts .phone-number {
    display: block; 
    margin-bottom: 61px;
}

.logo-html-academy img:hover {
    opacity: 0.6;
}

.logo-html-academy img:active {
    opacity: 0.3;
}

.logo-html-academy:focus{
    outline: 1px dotted rgb(255, 255, 255);
}
