@font-face {
    font-family: "Gilroy";
    src: 
        local("Gilroy Light"), local("Gilroy-Light"), 
        url("../fonts/gilroylight.woff2") format("woff2"), 
        url("../fonts/gilroylight.woff") format("woff");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Gilroy";
    src: 
        local("Gilroy ExtraBold"), local("Gilroy-ExtraBold"), 
        url("../fonts/gilroyextrabold.woff2") format("woff2"), 
        url("../fonts/gilroyextrabold.woff") format("woff");
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: "OpenSans";
    src: 
        local("OpenSans"),  
        url("../fonts/opensans.woff2") format("woff2"), 
        url("../fonts/opensans.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}


  @font-face {  
    font-family: "OpenSans";
    src: 
        local("OpenSans Light"), local("OpenSans-Light"),
        url("../fonts/opensanslight.woff") format("woff"),
        url("../fonts/opensanslight.woff") format("woff");
    font-weight: 300;
    font-style: normal;
}

body { 
    margin: 0;
    padding: 0;
    
    font-family: "OpenSans", "Arial",  sans-serif;
    font-size: 15px;
    font-weight: 300;
    line-height: 30px;
    letter-spacing: 0.15px;
    color: rgb(70, 70, 70);
    
    background-color: rgb(255, 255, 255);
    background-position:top center;
    background-repeat:no-repeat;
}

a {
    text-decoration: none;
}

.main-header {
    background-color: rgb(247, 226, 150);
}
 
.main-header-logo,
.header-logo {
    font-family: "Gilroy", "Arial", sans-serif;
    font-size: 48px;
    font-weight: 800;
    letter-spacing: 0.48px;
    line-height: 48px;
    text-transform: uppercase;
    color: rgb(0, 0, 0);
}

.header-logo:hover {
    color: rgba(0, 0, 0, 0.6);
}

.header-logo:active {
    color: rgba(0, 0, 0, 0.3);
}

.user-navigation {
    line-height: 36px;
}

.main-navigation ul,
.user-navigation ul,
.gadgets ul,
.logotypes ul {
    list-style: none;
}

.user-navigation a {
    color: rgb(0, 0, 0);
}

.user-navigation a:hover {
    color: rgba(0, 0, 0, 0.6);
}

.user-navigation a:active {
    color: rgba(0, 0, 0, 0.3);
}

.logout a {
    color: rgba(0, 0, 0, 0.3);
}

.search input, .search-btn {
    font-family: "OpenSans", "Arial",  sans-serif;
    font-size: 15px;
    font-weight: 300;
    line-height: 36px;
    letter-spacing: 0.15px;
    color: rgb(0, 0, 0);
    background-color: transparent;
    border: none;
}

.search input:focus {
    border-bottom: 2px solid black;
}

.search input::-webkit-input-placeholder {
    color: rgba(0, 0, 0, 0.3);
}

.search input:focus:-ms-input-placeholder {
    color: rgba(0, 0, 0, 0.3);
}

.search input:focus::-moz-placeholder {
     color: rgba(0, 0, 0, 0.3);
}

.search input:focus:-moz-placeholder {
     color: rgba(0, 0, 0, 0.3);
}

.search-btn {
    background-color: transparent;
    border: 2px solid rgb(0, 0, 0);
}

.search-btn:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
}

.search-btn:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: rgb(0, 0, 0);
}

.main-navigation a {
    font-family: "Gilroy", "Arial", sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 18px;
    letter-spacing: 3.6px;
    text-transform: uppercase;
    color: rgb(0, 0, 0);
}

.main-navigation a:hover {
    color: rgba(0, 0, 0, 0.6);
}

.main-navigation a:active {
    color: rgba(0, 0, 0, 0.3);
}

.second-navigation {
    background-color: rgb(247, 226, 150);
}

.second-navigation a {
    font-family: "OpenSans", "Arial",  sans-serif;
    font-size: 15px;
    font-weight: 300;
    line-height: 36px;
    letter-spacing: 0.15px;
    text-transform: none;
}

.second-navigation a:hover {
     color: rgba(0, 0, 0, 0.6);
}

.second-navigation a:active {
    color: rgba(0, 0, 0, 0.3);
}

.slider ul {
    list-style: none;
    font-size: 0;
}

.slider b {
    font-family: "Gilroy", "Arial", sans-serif;
    font-size: 47px;
    font-weight: 800;
    line-height: 47px;
    letter-spacing: 0.47px;
    color: rgb(0, 0, 0);
}

.button,
.button:hover {
    background-color: rgb(240, 197, 46);
    
    font-family: "Gilroy", "Arial", sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 18px;
    letter-spacing: 3.6px;
    text-transform: uppercase;
    color: rgb(0, 0, 0);
}

.button:active {
    color: rgba(0, 0, 0, 0.3);
}


.slider-table th {
    font-family: "Gilroy", "Arial", sans-serif;
    font-size: 36px;
    font-weight: 300;
    line-height: 36px;
    letter-spacing: 0.36px;
    color: rgb(0, 0, 0);
}

.slider-table td {
    font-family: "OpenSans", "Arial",  sans-serif; 
    font-size: 13px;
    font-weight: 300;
    line-height: 20px;
    letter-spacing: 0.13px;
}

.gadgets img {
    background-color: rgba(240, 197, 46, 0.5);
}

.gadgets img:hover {
    background-color :rgb(240, 197, 46);
}

.gadgets img:active {
    background-color: rgb(240, 197, 46);
    opacity:0.3;
}

.gadgets a,
.gadgets a:hover {
    font-family: "Gilroy", "Arial", sans-serif;
    font-size: 18px;
    font-weight: 800;
    letter-spacing: 0.18px;
    color: rgb(0, 0, 0);
}

.gadgets a:active {
    color: rgba(0, 0, 0, 0.3);
}

.service {
    background-color: rgb(229, 229, 229);
}

.service h3,
.about-us h2 {
    font-family: "Gilroy", "Arial", sans-serif;
    font-size: 47px;
    font-weight: 800;
    letter-spacing: 0.47px;
    color: rgb(0, 0, 0);
}

.service ul {
    list-style: none;
}

.service-radio label,
.service-radio label:hover {
    font-family: "Gilroy", "Arial", sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 18px;
    letter-spacing: 3.6px;
    text-transform: uppercase;
    color: rgb(0, 0, 0);
    
    background-color: rgb(240, 197, 46);
}

.service-radio label:active {
     color: rgb(247, 225, 132);
     background-color: rgb(0, 0, 0);
}

.logotypes img {
    filter: grayscale(100%);
    opacity: 0.2;
}

.logotypes img:hover {
    filter: none;
    opacity: 1;
}

.about-us ul {
    list-style: circle;
}

.transport-company {
    font-weight: bold;
    color: rgb(0, 0, 0);
}

.modal-message label {
    font-family: "Gilroy", "Arial", sans-serif;
    font-size: 18px;
    font-weight: 800;
    color: rgb(0, 0, 0);   
}

.modal-message input, 
.modal-message textarea {
    background-color: rgba(229, 229, 229, 0.5);
    border: none;
    resize: none;
}

.modal-message input:hover, 
.modal-message textarea:hover {
    background-color: rgba(229, 229, 229, 0.8);
    border: none;
}

.modal-message input:focus, 
.modal-message textarea:focus {
    background-color: transparent;
    border: 3px solid rgba(240, 197, 46, 0.5);
}

input:invalid {
    background-color: rgba(237, 181, 181, 0.5);
}

.modal-close {
    width: 55px;
    height: 55px;
    
    font-size: 0;
    
    background-image: url("../img/modal-close.svg");
    background-repeat: no-repeat;
    border: none;
    border-radius: 50%;
    opacity: 0.5;
}

.modal-close:hover {
    opacity: 1;
    cursor: pointer;
}

.modal-close:active {
    opacity: 0.3;
    cursor: pointer;
}

/* Внутренняя страница */

h1 {
    font-family: "Gilroy", "Arial", sans-serif;
    font-size: 47px;
    font-weight: 800;
    letter-spacing: 0.47px;
    color: rgb(0, 0, 0);
}

.breadcrumbs {
    list-style: none;
}

.breadcrumbs a {
    line-height: 36px;
    color: rgba(0, 0, 0, 0.3);
}

.breadcrumbs-item:hover {
    color: rgba(0, 0, 0, 0.6);
}

.breadcrumbs-item:active {
    color: rgba(0, 0, 0, 0.1);
}

.settings {
    font-family: "Gilroy", "Arial", sans-serif;
    font-size: 16px;
    font-weight: 800;
    letter-spacing: 3.2px;
    text-transform: uppercase;
    color: rgb(0, 0, 0);
}

.filter-title {
    background-color: rgb(219, 219, 219);
}

.filter-body {
    background-color: rgb(239, 239, 239);
}

.filter fieldset {
    border: none;
}

.filter legend, 
.catalog-list h3 {
    font-family: "Gilroy", "Arial", sans-serif;
    font-size: 18px;
    font-weight: 800;
    letter-spacing: 0.18px;
    color: rgb(0, 0, 0);
}

.filter ul {
    font-family: "OpenSans", "Arial",  sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 40px;
    letter-spacing: 0.14px;
    color: rgb(0, 0, 0);
    
    list-style: none;
}

.filter input:disabled + label {
    color: rgb(166, 166, 166);
}

.wrapper-sorting {
    background-color: rgb(235, 235, 235);
}

.sort-list,
.catalog-list {
    list-style: none;
}

.sort-list .sort-item, .arrow-item {
    font-family: "OpenSans", "Arial",  sans-serif;
    font-size: 14px;
    font-weight: normal;
    line-height: 18px;
    color: rgba(0, 0, 0, 0.3);
}

.sort-list .sort-item:hover, .arrow-item:hover {
    color: rgba(0, 0, 0, 0.6);
}

.sort-list .sort-item:active, .arrow-item:active {
    color: rgb(0, 0, 0);
}

.sort-list .sort-active, .arrow-active {
    color: rgb(0, 0, 0);
}


.catalog-list .price {
    font-family: "Gilroy", "Arial", sans-serif;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.16px;
    color: rgb(70, 70, 70);
}

.catalog-hover {
    background-color: rgba(238, 238, 238, 0.7);
}

.add-compare {
    font-family: "OpenSans", "Arial",  sans-serif;
    font-size: 13px;
    font-weight: 300;
    line-height: 36px;
    color: rgba(0, 0, 0, 0.5);
}

.add-compare:hover {
    color: rgb(0, 0, 0);
}

.add-compare:active {
    color: rgba(0, 0, 0, 0.2);
}

.pagination-list {
    list-style: none;
    background-color: rgb(235, 235, 235);
}

.pagination-list .pagination-item {
  font-family: "Gilroy", "Arial", sans-serif;
    font-size: 16px;
    font-weight: 800;
    letter-spacing: 3.2px;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.3);
}

.pagination-list .pagination-active {
    color: rgb(0, 0, 0);
}

.pagination-list .pagination-item:hover {
    color: rgb(0, 0, 0);
    background-color: rgb(217, 217, 217);
}

.pagination-list .pagination-item:active {
    color: rgba(0, 0, 0, 0.3);
    background-color: rgb(217, 217, 217);
}

/* Футер */

.main-footer {
    background-color: rgb(70, 70, 70);
}

.main-footer-logo,
.footer-logo {
    font-family: "Gilroy", "Arial", sans-serif;
    font-size: 48px;
    font-weight: 800;
    letter-spacing: 0.48px;
    text-transform: uppercase;
    color: rgb(255, 198, 0);
}

.footer-logo:hover {
    color: rgba(255, 198, 0, 0.6);
}

.footer-logo:active {
    color: rgba(255, 198, 0, 0.3);
}

.address, 
.phone-number {
    color: rgb(255, 255, 255);
}

.footer-main-navigation a {
    font-family: "Gilroy", "Arial", sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 18px;
    letter-spacing: 3.6px;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
}

.footer-main-navigation a:hover {
    color: rgba(255, 255, 255, 0.6);
}

.footer-main-navigation a:active {
     color: rgba(255, 255, 255, 0.3);
}

.footer-user-navigation {
    list-style: none;
    line-height: 36px;
}

.footer-user-navigation a {
    color: rgba(255, 255, 255, 0.7);
}

.footer-user-navigation a:hover {
    color: rgb(255, 255, 255);
}

.footer-user-navigation a:active {
    color: rgba(255, 255, 255, 0.3);
}

.logo-html-academy img:hover {
    opacity: 0.6;
}

.logo-html-academy img:active {
    opacity: 0.3;
}

.footer-social {
    list-style: none;
}

