@font-face {
    font-family: "Gilroy";
    src: 
        local("Gilroy Light"), local("Gilroy-Light"), 
        url("../fonts/gilroylight.woff2") format("woff2"), 
        url("../fonts/gilroylight.woff") format("woff");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Gilroy";
    src: 
        local("Gilroy ExtraBold"), local("Gilroy-ExtraBold"), 
        url("../fonts/gilroyextrabold.woff2") format("woff2"), 
        url("../fonts/gilroyextrabold.woff") format("woff");
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: "OpenSans";
    src: 
        local("OpenSans"),  
        url("../fonts/opensans.woff2") format("woff2"), 
        url("../fonts/opensans.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}


  @font-face {  
    font-family: "OpenSans";
    src: 
        local("OpenSans Light"), local("OpenSans-Light"),
        url("../fonts/opensanslight.woff") format("woff"),
        url("../fonts/opensanslight.woff") format("woff");
    font-weight: 300;
    font-style: normal;
}

body { 
    margin: 0;
    padding: 0;
    
    font-family: "OpenSans", "Arial",  sans-serif;
    font-size: 15px;
    font-weight: 300;
    line-height: 30px;
    letter-spacing: 0.15px;
    color: rgb(70, 70, 70);
    
    background-color: rgb(255, 255, 255);
    background-position:top center;
    background-repeat:no-repeat;
}

a {
    text-decoration: none;
}

.visually-hidden {
    display: none;
}

                                              /* HEADER */

.main-header {
    width: 1160px;
    margin: 0 auto;
    margin-top: 40px;
    
    background-color: rgb(247, 226, 150);
}
 
.main-header-logo,
.header-logo {
    position: absolute;
    top: 18px;
    left: 235px;
    
    display: block;
    width: 163px;
    height: 57px;
        
    font-family: "Gilroy", "Arial", sans-serif;
    font-size: 48px;
    font-weight: 800;
    letter-spacing: 0.48px;
    line-height: 48px;
    text-transform: uppercase;
    color: rgb(0, 0, 0);
}

.header-logo:hover {
    color: rgba(0, 0, 0, 0.6);
}

.header-logo:active {
    color: rgba(0, 0, 0, 0.3);
}

.user-navigation {
    display: flex;
    justify-content: flex-start;
    align-items: center;
        
    width: 1040px;
    margin: 0 auto;
    margin-bottom: 30px;
    padding: 0;
    padding-top: 40px;
    
    line-height: 36px;
}

.user-navigation a {
    color: rgb(0, 0, 0);
}

.user-navigation a:hover {
    color: rgba(0, 0, 0, 0.6);
}

.user-navigation a:active {
    color: rgba(0, 0, 0, 0.3);
}

.user-navigation form {
    display: flex;
    width: 440px;
    margin: 0;
    margin-right: 100px;
    padding: 0;
}

.search input, .search-btn {
    font-family: "OpenSans", "Arial",  sans-serif;
    font-size: 15px;
    font-weight: 300;
    line-height: 36px;
    letter-spacing: 0.15px;
    color: rgb(0, 0, 0);
    
    background-color: transparent;
    border: none;
}

.search input {
    margin: 0;
    padding-left: 40px;
    width: 355px;
}

.search input:focus {
    border-bottom: 2px solid black;
}

.search input::-webkit-input-placeholder {
    color: rgba(0, 0, 0, 0.3);
}

.search input:focus:-ms-input-placeholder {
    color: rgba(0, 0, 0, 0.3);
}

.search input:focus::-moz-placeholder {
     color: rgba(0, 0, 0, 0.3);
}

.search input:focus:-moz-placeholder {
     color: rgba(0, 0, 0, 0.3);
}

.search-btn {
    background-color: transparent;
    border: 2px solid rgb(0, 0, 0);
}

.search-btn:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
}

.search-btn:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: rgb(0, 0, 0);
}

.login-navigation {
    display: flex;
    width: 260px;
    margin: 0;
    padding: 0;
    
    list-style: none;
}

.login-navigation .login {
    padding-left: 27px;
}

.login-navigation .logout {
    padding-left: 20px;
}

.logout a {
    color: rgba(0, 0, 0, 0.3);
}

.user-navigation .compare-cart {
    display: flex;
    justify-content: flex-end;
    width: 260px;
    margin: 0;
    margin-left: auto;
    padding: 0;
    
    list-style: none;
}

.compare-cart li {
    padding-left: 60px;
}

.main-navigation {
    min-height: 180px;
}

.main-navigation ul {
    list-style: none;
}

.main-navigation a {
    font-family: "Gilroy", "Arial", sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 18px;
    letter-spacing: 3.6px;
    text-transform: uppercase;
    color: rgb(0, 0, 0);
}

.main-navigation a:hover {
    color: rgba(0, 0, 0, 0.6);
}

.main-navigation a:active {
    color: rgba(0, 0, 0, 0.3);
}

.site-navigation {
    display: flex;
    width: 1040px;
    margin: 0 auto;
    margin-bottom: 20px;
    padding: 0;
}

.site-navigation li:first-child {
    width: 300px;
    margin-right: 240px;
}

.site-navigation li:nth-child(2) {
    margin-right: 30px;
}

.site-navigation li:last-child {
    margin-left: auto;
}

.second-navigation {
    display: flex;
    align-items: flex-start;
    width: 1040px;
    margin: 0 auto;
    padding: 0;
    
    background-color: rgb(247, 226, 150);
}

.second-navigation ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.second-navigation .wrapper:first-child {
    width: 200px;
    margin-right: 40px;
}

.second-navigation .wrapper:nth-child(2)  {
    width: 160px;
    margin-right: 40px;
}

.second-navigation .wrapper:last-child {
    width: 160px;
}

.second-navigation a {
    font-family: "OpenSans", "Arial",  sans-serif;
    font-size: 15px;
    font-weight: 300;
    line-height: 36px;
    letter-spacing: 0.15px;
    text-transform: none;
}

.second-navigation a:hover {
     color: rgba(0, 0, 0, 0.6);
}

.second-navigation a:active {
    color: rgba(0, 0, 0, 0.3);
}

                                              /* MAIN */

main {
    margin: 0 auto;
}

.slider {
    width: 1160px;
    margin: 0 auto;
    padding: 0;
    margin-bottom: 108px;
}

.slider-radiobuttons {
    position: absolute;
    
    display: flex;
    
    list-style: none;
    font-size: 0;
}

.slider-radiobuttons li {
    margin-right: 21px;
}

.slider-radiobuttons li:last-child {
    margin-right: 0;
}

.slider-list {
    margin: 0;
    padding:0;
    
    list-style: none;
    outline: 1px solid red;
}

.slider-monopods {
    display: flex;
    padding-left: 90px;
}

.slider-monopods img {
    width: 384px;
    height: 486px;
    margin-right: 120px;
}

.slider-bangles {
    display: flex;
    padding-left: 113px;
}

.slider-bangles img {
    width: 345px;
    height: 485px;
    margin-right: 138px;
}

.slider-quadcopters {
    display: flex;
    padding-left: 30px;
}

.slider-quadcopters img {
    width: 526px;
    height: 334px;
    margin-right: 40px;
}

.slider b {
    font-family: "Gilroy", "Arial", sans-serif;
    font-size: 47px;
    font-weight: 800;
    line-height: 47px;
    letter-spacing: 0.47px;
    color: rgb(0, 0, 0);
}

.button,
.button:hover {
    background-color: rgb(240, 197, 46);
    
    font-family: "Gilroy", "Arial", sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 18px;
    letter-spacing: 3.6px;
    text-transform: uppercase;
    color: rgb(0, 0, 0);
}

.button:active {
    color: rgba(0, 0, 0, 0.3);
}


.slider-table th {
    font-family: "Gilroy", "Arial", sans-serif;
    font-size: 36px;
    font-weight: 300;
    line-height: 36px;
    letter-spacing: 0.36px;
    color: rgb(0, 0, 0);
}

.slider-table td {
    font-family: "OpenSans", "Arial",  sans-serif; 
    font-size: 13px;
    font-weight: 300;
    line-height: 20px;
    letter-spacing: 0.13px;
}

.gadgets {
    width: 1160px;
    margin: 0 auto;
    margin-bottom: 80px;
}

.gadgets ul {
    list-style: none;
}

.gadgets-list {
    display: flex;
}

.gadgets img {
    background-color: rgba(240, 197, 46, 0.5);
}

.gadgets img:hover {
    background-color :rgb(240, 197, 46);
}

.gadgets img:active {
    background-color: rgb(240, 197, 46);
    opacity:0.3;
}

.gadgets a,
.gadgets a:hover {
    font-family: "Gilroy", "Arial", sans-serif;
    font-size: 18px;
    font-weight: 800;
    letter-spacing: 0.18px;
    color: rgb(0, 0, 0);
}

.gadgets a:active {
    color: rgba(0, 0, 0, 0.3);
}

.service {
    width: 100%;
    margin-bottom: 105px;
    background-color: rgb(229, 229, 229);
    outline: 1px solid blue;
}

.service .wrapper {
    display: flex;
    width: 1160px;
    margin: 0 auto;
    padding: 0;
        
    outline: 1px solid red;
}

.service ul {
    list-style: none;
}

.service-list {
    width: 300px;
    margin-right: 100px;
}

.service-list input {
    display: none;
}

.service-radio label,
.service-radio label:hover {
    font-family: "Gilroy", "Arial", sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 18px;
    letter-spacing: 3.6px;
    text-transform: uppercase;
    color: rgb(0, 0, 0);
    
    background-color: rgb(240, 197, 46);
    
    cursor: pointer;
}

.service-radio label:active {
     color: rgb(247, 225, 132);
     background-color: rgb(0, 0, 0);
}

.service-description {
    width: 760px;
}

.service h3,
.about-us h2 {
    font-family: "Gilroy", "Arial", sans-serif;
    font-size: 47px;
    font-weight: 800;
    letter-spacing: 0.47px;
    color: rgb(0, 0, 0);
}


.logotypes {
    width: 1160px;
    margin: 0 auto;
    margin-bottom: 108px;
    padding: 0;
}

.logotypes-list {
    display: flex;
    justify-content: space-around;
    list-style: none;
}

.logotypes img {
    filter: grayscale(100%);
    opacity: 0.2;
}

.logotypes img:hover {
    filter: none;
    opacity: 1;
}

.about-us-wrapper {
    display: flex;
    width: 1160px;
    margin: 0 auto;
    margin-bottom: 80px;
    padding: 0;
}

.about-us:first-child {
    width: 500px;
    margin-right: 100px;
}

.about-us:last-child {
    width: 560px;
}

.about-us ul {
    list-style: circle;
}

.transport-company {
    font-weight: bold;
    color: rgb(0, 0, 0);
}

.modal-message label {
    font-family: "Gilroy", "Arial", sans-serif;
    font-size: 18px;
    font-weight: 800;
    color: rgb(0, 0, 0);   
}

.modal-message input, 
.modal-message textarea {
    background-color: rgba(229, 229, 229, 0.5);
    border: none;
    resize: none;
}

.modal-message input:hover, 
.modal-message textarea:hover {
    background-color: rgba(229, 229, 229, 0.8);
    border: none;
}

.modal-message input:focus, 
.modal-message textarea:focus {
    background-color: transparent;
    border: 3px solid rgba(240, 197, 46, 0.5);
}

input:invalid {
    background-color: rgba(237, 181, 181, 0.5);
}

.modal-close {
    width: 55px;
    height: 55px;
    
    font-size: 0;
    
    background-image: url("../img/modal-close.svg");
    background-repeat: no-repeat;
    border: none;
    border-radius: 50%;
    opacity: 0.5;
}

.modal-close:hover {
    opacity: 1;
    cursor: pointer;
}

.modal-close:active {
    opacity: 0.3;
    cursor: pointer;
}

                                            /* INNER PAGE */

.title-wrapper {
    width: 1160px;
    margin: 0 auto;
    margin-bottom: 50px;
}

h1 {
    margin: 0;
    margin-bottom: 30px;
    padding-top: 40px;
    
    font-family: "Gilroy", "Arial", sans-serif;
    font-size: 47px;
    font-weight: 800;
    letter-spacing: 0.47px;
    color: rgb(0, 0, 0);
}

.breadcrumbs {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}

.breadcrumbs-item {
    
}

.breadcrumbs a {
    margin: 0;
    margin-right: 30px;
    line-height: 36px;
    color: rgba(0, 0, 0, 0.3);
}

.breadcrumbs-item:hover {
    color: rgba(0, 0, 0, 0.6);
}

.breadcrumbs-item:active {
    color: rgba(0, 0, 0, 0.1);
}

.settings {
    margin: 0;
    padding: 0;
    font-family: "Gilroy", "Arial", sans-serif;
    font-size: 16px;
    font-weight: 800;
    letter-spacing: 3.2px;
    text-transform: uppercase;
    color: rgb(0, 0, 0);
}

.inner-page {
    display: flex;
    margin: 0 auto;
    padding: 0;
}

.filters {
    width: 328px;
    background-color: rgb(239, 239, 239);
} 

.filters-wrapper {
    width: 328px;
}

.filter-title {
    min-height: 70px;
    background-color: rgb(219, 219, 219);
}

.filter-body {
    background-color: rgb(239, 239, 239);
}

.filter fieldset {
    border: none;
}

.filter legend, 
.catalog-list h3 {
    font-family: "Gilroy", "Arial", sans-serif;
    font-size: 18px;
    font-weight: 800;
    letter-spacing: 0.18px;
    color: rgb(0, 0, 0);
}

.filter ul {
    font-family: "OpenSans", "Arial",  sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 40px;
    letter-spacing: 0.14px;
    color: rgb(0, 0, 0);
    
    list-style: none;
}

.filter input:disabled + label {
    color: rgb(166, 166, 166);
}

.catalog {
  width: 100%;  
}

.wrapper-sorting {
    display: flex;
    min-height: 70px;
    margin-bottom: 70px;
    background-color: rgb(235, 235, 235);
}

.sort-list {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sort-list .sort-item, 
.sort-list .arrow-item {
    font-family: "OpenSans", "Arial",  sans-serif;
    font-size: 14px;
    font-weight: normal;
    line-height: 18px;
    color: rgba(0, 0, 0, 0.3);
}

.sort-list .sort-item:hover, 
.sort-list .arrow-item:hover {
    color: rgba(0, 0, 0, 0.6);
}

.sort-list .sort-item:active, 
.sort-list .arrow-item:active {
    color: rgb(0, 0, 0);
}

.sort-list .sort-active, 
.sort-list .arrow-active {
    color: rgb(0, 0, 0);
}

.catalog-list-wrapper {
    width: 853px;
    padding-left: 75px;
}

.catalog-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    margin-bottom: 40px;
    padding: 0;
    list-style: none;
}

.catalog-list .catalog-item {
    width: 360px;
    margin-right: 40px;
}

.catalog-list .catalog-item:nth-child(2n) {
    width: 360px;
    margin-right: 20px;
}

.catalog-list .price {
    font-family: "Gilroy", "Arial", sans-serif;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.16px;
    color: rgb(70, 70, 70);
}

.catalog-hover {
    background-color: rgba(238, 238, 238, 0.7);
}

.add-compare {
    font-family: "OpenSans", "Arial",  sans-serif;
    font-size: 13px;
    font-weight: 300;
    line-height: 36px;
    color: rgba(0, 0, 0, 0.5);
}

.add-compare:hover {
    color: rgb(0, 0, 0);
}

.add-compare:active {
    color: rgba(0, 0, 0, 0.2);
}

.pagination-list {
    display: flex;
    width: 760px;
    min-height: 70px;
    margin: 0;
    margin-bottom: 77px;
    padding: 0;
    
    list-style: none;
    background-color: rgb(235, 235, 235);
}

.pagination-list .pagination-item {
    font-family: "Gilroy", "Arial", sans-serif;
    font-size: 16px;
    font-weight: 800;
    letter-spacing: 3.2px;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.3);
}

.pagination-list .pagination-active {
    color: rgb(0, 0, 0);
}

.pagination-list .pagination-item:hover {
    color: rgb(0, 0, 0);
    background-color: rgb(217, 217, 217);
}

.pagination-list .pagination-item:active {
    color: rgba(0, 0, 0, 0.3);
    background-color: rgb(217, 217, 217);
}

                                           /* FOOTER */

.main-footer {
    width: 100%;
    min-height: 323px;
    padding-top: 51px;
    background-color: rgb(70, 70, 70);
}

.main-footer-wrapper {
    display: flex;
    align-items: center;
    width: 1160px;
    margin: 0 auto;
    
    outline: 1px solid red;
}

.footer-wrapper:first-child {
    width: 300px;
    margin-right: 60px;
    
    outline: 1px solid red;
}

.footer-wrapper:nth-child(2) {
    width: 440px;
    margin-right: 30px;
    
    outline: 1px solid red;
}

.footer-wrapper:last-child {
    width: 330px;
    
    outline: 1px solid red;
}

.main-footer-logo,
.footer-logo {
    display: block;
    margin-bottom: 30px;
    
    font-family: "Gilroy", "Arial", sans-serif;
    font-size: 48px;
    font-weight: 800;
    letter-spacing: 0.48px;
    text-transform: uppercase;
    color: rgb(255, 198, 0);
}

.footer-logo:hover {
    color: rgba(255, 198, 0, 0.6);
}

.footer-logo:active {
    color: rgba(255, 198, 0, 0.3);
}

.address, 
.phone-number {
    margin: 0;
    padding: 0;
    color: rgb(255, 255, 255);
}

.footer-main-navigation {
    display: flex;
            
    margin: 0;
    padding: 0;
    
    outline: 1px solid red;
}

.footer-main-navigation li {
   margin-right: 35px; 
}

.footer-main-navigation a {
    font-family: "Gilroy", "Arial", sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 18px;
    letter-spacing: 3.6px;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
}

.footer-main-navigation a:hover {
    color: rgba(255, 255, 255, 0.6);
}

.footer-main-navigation a:active {
     color: rgba(255, 255, 255, 0.3);
}

.footer-social {
    display: flex;
    width: 160px;
    margin: 0 auto;
    padding: 0;
    
    list-style: none;
}

.footer-wrapper:last-child .container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    
}

.footer-user-navigation {
    display: flex;
    margin: 0;
    padding: 0;
    
    list-style: none;
    line-height: 36px;
}

.contacts {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.footer-user-navigation a {
    color: rgba(255, 255, 255, 0.7);
}

.footer-user-navigation a:hover {
    color: rgb(255, 255, 255);
}

.footer-user-navigation a:active {
    color: rgba(255, 255, 255, 0.3);
}

.logo-html-academy img:hover {
    opacity: 0.6;
}

.logo-html-academy img:active {
    opacity: 0.3;
}

